<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brmm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".delete_category"></activity>
        <activity android:name=".add_category" />
        <activity android:name=".delete_part" />
        <activity android:name=".delete_instrument" />
        <activity android:name=".delete_member" />
        <activity android:name=".set_lead" />
        <activity android:name=".checkout_instrument" />
        <activity android:name=".delete_section" />
        <activity android:name=".add_section" />
        <activity android:name=".add_instrument" />
        <activity android:name=".add_member" />
        <activity android:name=".add_part" />
        <activity android:name=".bandmember_filters" />
        <activity android:name=".part_filters" />
        <activity android:name=".instrument_filters" />
        <activity android:name=".edit_instrument" />
        <activity android:name=".edit_member" />
        <activity android:name=".edit_part" />
        <activity android:name=".edit_notes" />
        <activity
            android:name=".main_screen"
            android:label="@string/title_activity_ui__main" />
        <activity android:name=".login_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>